.inner() {
  box-sizing: border-box;
  width: 100%;
  padding: 0 30px;

  @media @tablet {
    padding: 0 50px;
    max-width: 1150px;
    margin: 0 auto;
  }
}

.link-hover() {
  color: @black;

  &:hover,
  &:focus {
    color: fade(@black, 60%);
  }

  &:active {
    color: fade(@black, 30%);
  }
}

.title-font() {
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 700;

  @media @tablet {
    font-size: 2.85rem;
  }

  @media @desktop {
    font-size: 3.5rem;
  }
}
