.search-form {
  position: relative;
  border-bottom: 1px solid @border-color;

  @media @tablet {
    border: none;
    margin-left: auto;
    height: 100%;
    width: auto;
  }
}

.search-form__field {
  width: 100%;
  padding: 28px 30px;
  padding-left: 75px;
  font: inherit;
  border: none;
  box-sizing: border-box;

  &::placeholder {
    color: @black;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: fade(@black, 60%);
  }

  &:hover + .search-form__label .search-form__icon {
    fill: @green-lighten;
  }

  &:focus + .search-form__label .search-form__icon {
    fill: fade(@green-lighten, 30%);
  }

  @media @tablet {
    // TODO: _____ПОКАЗАТЬ СТРОКУ ПОИСКА ПРИ НАВЕДЕНИИ НА ИКОНКУ________
    display: none;
  }
}

.search-form__label {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 60px;
  height: 100%;
  cursor: pointer;

  @media @tablet {
    position: static;
    width: 82px;
    height: 86px;
    border: 1px solid @border-color;
    border-color: transparent @border-color;
  }
}

.search-form__icon {
  margin: auto;
  margin-left: 30px;

  fill: fade(@brown, 20%);
}
